.coursecatalog{
    display: flex;
    justify-content: center;

}

.coursecontainer{
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    padding: 10px 0px; 
}

/* .coursecontainer{
    padding: 10vh 10vw;
    border: 900px 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
} */

.coursecard{
    /* margin: 50px 0px;
    width: 300px;
    height: 150px; */
    flex: 0 1 150px;
}

@media (max-width: 609px) {
    .coursecontainer{
        background-color: black;
    }
    .coursecard{
        /* margin: 50px 0px;
        width: 300px;
        height: 150px; */
        flex: 0 1 150px;
    }
}